---
name: CI
on:
  push:
    tags: ['v*']
    branches: [main]
  pull_request:
    branches: ['**']
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: '3.3' # v1.x sqlite3 requires Ruby 3.3
            rails: '7.0'
            bundler: 'default'
          - ruby: '3.4'
            rails: '7.1'
            bundler: 'default'
          - ruby: '3.4'
            rails: '7.2'
            bundler: 'default'
    env:
      RAILS_VERSION: ${{ matrix.rails }}

    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: ${{ matrix.bundler }}
          bundler-cache: true
      - run: bundle exec rubocop
        if: matrix.rails == '7.1'
      - run: bundle exec rspec --format doc
      - uses: codecov/codecov-action@v3
        if: matrix.rails == '7.1'
        with:
          files: coverage/coverage.xml
      - run: bin/yardoc --fail-on-warning
        if: matrix.rails == '7.1'
      - run: bin/check-version

  release:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dawidd6/action-publish-gem@v1
        with:
          api_key: ${{secrets.RUBYGEMS_API_KEY}}
